<div class="main-content">
	<div class="main-content-inner">
		<div class="ace-settings-container" id="ace-settings-container">
			<!-- 公共皮肤，框架布局设置skin.html -->
			<div ng-include="'views/common/skin.html'" ></div>
			<!-- 公共皮肤，框架布局设置skin.html -->
		</div>
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<span><span ng-bind-html="'common-background-management' | T"></span></span>
				</li>

				<li>
					<span><span ng-bind-html="'activity-list-2' | T"></span></span>
				</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<div class="row">
						<div class="col-xs-12">
							<div class="page-header">
								<form class="form-inline">
									<div class="input-group">
										<span class="input-group-addon"><span ng-bind-html="'add-sys-coupon-2' | T"></span></span>
										<select class="chosen-select form-control" id="typeId" ng-model="typeId" name="typeId" style="width:120px;">
											<option value="">{{'common-select' | T}}</option>
											<option value="1">{{'add-sys-coupon-4' | T}}</option>
											<option value="2">{{'add-sys-coupon-5' | T}}</option>
										</select>
									</div>

									<div class="input-group" style="margin-left:20px;">
										<span class="input-group-addon"><span ng-bind-html="'sys-coupon-list-9' | T"></span></span>
										<div class="input-group">
											<input class="form-control date-picker" ng-model="startDate" readonly size="12" type="text"/>
											<span class="input-group-addon">
												<i class="fa fa-calendar bigger-110"></i>
											</span>
										</div>
										-
										<div class="input-group">
											<input class="form-control date-picker" ng-model="endDate" readonly size="12" type="text"/>
											<span class="input-group-addon">
												<i class="fa fa-calendar bigger-110"></i>
											</span>
										</div>
						            </div>
						            <div class="input-group" style="margin-left:20px;">
										<span class="input-group-addon"><span ng-bind-html="'common-status' | T"></span></span>
						                <select class="chosen-select form-control" id="status" ng-model="status" name="status" style="width:120px;">
											<option value="">{{'common-select' | T}}</option>
				                            <option value="0">{{'sys-coupon-list-12' | T}}</option>
				                            <option value="1">{{'sys-coupon-list-13' | T}}</option>
						                </select>
						            </div>

						            <div class="form-group" style="margin-left:50px;">
						                <button type="button" class="btn btn-white btn-success" ng-click="query()"><i class="ace-icon fa fa-search nav-search-icon"></i><strong><span ng-bind-html="'common-query' | T"></span></strong></button>
						            </div>
						            <div class="form-group">
						                <button type="button" class="btn btn-white btn-info" ng-click="reset()"><i class=" ace-icon fa fa-undo"></i><strong><span ng-bind-html="'common-reset' | T"></span></strong></button>
						            </div>

									<div align="right">
										<button type="button" class="btn btn-white btn-info" ng-click="addCoupon()"><i class="ace-icon glyphicon glyphicon-plus"></i><strong><span ng-bind-html="'common-add' | T"></span></strong></button>
									</div>
						        </form>
							</div><!-- /.page-header -->

							<div class="table-header">
								<span ng-bind-html="'sys-coupon-list-17' | T"></span>
							</div>
							<div>
								<table class="table table-striped table-bordered table-hover" ng-init="getPage()">
									<thead style="font-size:12px;">
										<tr>
											<th><span ng-bind-html="'common-serial-number' | T"></span></th>
											<th><span ng-bind-html="'add-sys-coupon-2' | T"></span></th>
											<th><span ng-bind-html="'add-sys-coupon-6' | T"></span></th>
											<th><span ng-bind-html="'sys-coupon-list-21' | T"></span></th>
											<th><span ng-bind-html="'sys-coupon-list-22' | T"></span></th>
											<th><span ng-bind-html="'coupon-list-24' | T"></span></th>
											<!--<th><i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i><span ng-bind-html="'sys-coupon-list-26' | T"></span></th>-->
											<th><span ng-bind-html="'sys-coupon-list-9' | T"></span></th>
											<th><span ng-bind-html="'add-sys-coupon-10' | T"></span></th>
											<th><span ng-bind-html="'common-operation' | T"></span></th>
										</tr>
									</thead>

									<tbody>
										<tr ng-repeat="row in data" repeat-finish align="center">
											<td>{{($index+1) + (currentPage - 1) * itemsPerPage}}</td>
											<td ng-if="lang == 'cn'">{{row.typeId | decode:1:'折扣券':2:'满减券'}}</td>
											<td ng-if="lang == 'en'">{{row.typeId | decode:1:'discount coupon':2:'full cut coupon'}}</td>
											<td>{{row.name}}</td>
											<td>{{row.no}}</td>
											<td>{{row.value}}</td>
											<td>{{row.condition1}}</td>
											<!--<td>{{row.createTime | date : 'yyyy/MM/dd  HH:mm:ss'}}</td>-->
											<td>{{row.updateTime | date : 'yyyy/MM/dd  HH:mm:ss'}}</td>
											<td>{{row.endTime | date : 'yyyy/MM/dd  HH:mm:ss'}}</td>
											<td>
												<div class="btn-group" role="group">
													<button class="btn btn-white btn-default btn-bold" ng-if="row.status == 0" ng-click="grantCoupon(row.id)"><span ng-bind-html="'sys-coupon-list-30' | T"></span></button>
													<button class="btn btn-white btn-success btn-bold" ng-if="row.status == 1" ><span ng-bind-html="'sys-coupon-list-31' | T"></span></button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>

					            <h5 style="font-size:14px;float:left;">
					                <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
					                    <option>10</option>
					                    <option>20</option>
					                    <option>30</option>
					                </select>&nbsp;{{records}}&nbsp;&nbsp;{{total}}{{totalItems}}{{records}}
								</h5>
					            <uib-pagination
					                    total-items="totalItems"
					                    ng-model="currentPage"
					                    max-size="5"
										rotate="false"
					                    boundary-links="true"
					                    force-ellipses="false"
					                    first-text="{{first}}"
					                    last-text="{{last}}"
					                    previous-text="{{previous}}"
					                    next-text="{{next}}"
					                    num-pages="numPages"
					                    ng-change="pageChanged()"
					                    items-per-page="itemsPerPage"
					                    class="pagination-sm" style="float:right;margin:0">
					            </uib-pagination>

							</div>
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->

<script type="text/javascript">

	jQuery(function($) {
		$('.date-picker').datepicker({
    		autoclose: true,
    		todayHighlight: true,
            format: "yyyy-mm-dd"
    	})
    	.next().on(ace.click_event, function(){
    		$(this).prev().focus();
    	});
	});

</script>