<div class="main-content">
	<div class="main-content-inner">
		<div class="ace-settings-container" id="ace-settings-container">
			<!-- 公共皮肤，框架布局设置skin.html -->
			<div ng-include="'views/common/skin.html'" ></div>
			<!-- 公共皮肤，框架布局设置skin.html -->
		</div>
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<span><span ng-bind-html="'common-background-management' | T"></span></span>
				</li>

				<li>
					<span><span ng-bind-html="'goods-category-list-2' | T"></span></span>
				</li>
			</ul><!-- /.breadcrumb -->
		</div>

		<div class="page-content" ng-init="getPage()">
			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->

					<div class="row">
						<div class="col-xs-12">
							<div class="page-header">
								<form class="form-inline">
									
									<div class="input-group">
										<span class="input-group-addon"><span ng-bind-html="'goods-category-list-5' | T"></span></span>
										<input class="form-control" ng-model="name" type="text" maxlength="30" />
									</div>

						            <div class="form-group" style="margin-left:100px;margin-right:15px;">
						                <button type="button" class="btn btn-white btn-success" ng-click="query()"><i class="ace-icon fa fa-search nav-search-icon"></i><strong><span ng-bind-html="'common-query' | T"></span></strong></button>
						            </div>
						            <div class="form-group">
						                <button type="button" class="btn btn-white btn-info" ng-click="reset()"><i class=" ace-icon fa fa-undo"></i><strong><span ng-bind-html="'common-reset' | T"></span></strong></button>
						            </div>
						            <div align="right">
						                <button type="button" class="btn btn-white btn-info" ng-click="addGoodsCategory()"><i class="ace-icon glyphicon glyphicon-plus"></i><strong><span ng-bind-html="'common-add' | T"></span></strong></button>
						            </div>
						        </form>
							</div><!-- /.page-header -->

							<div class="table-header">
								<span ng-bind-html="'goods-category-list-10' | T"></span>
							</div>
							<div>
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th style="width: 50px;"><span ng-bind-html="'common-serial-number' | T"></span></th>
											<th style="width: 150px;"><span ng-bind-html="'goods-category-list-5' | T"></span></th>
											<th style="width: 150px;"><span ng-bind-html="'edit-goods-category-12' | T"></span></th>
											<th style="width: 150px;"><span ng-bind-html="'goods-category-list-14' | T"></span></th>
											<th style="width: 150px;"><span ng-bind-html="'common-bz' | T"></span></th>
											<th style="width: 150px;"><span ng-bind-html="'add-brand-8' | T"></span></th>
											<th style="width: 150px;"><span ng-bind-html="'common-operation' | T"></span></th>
										</tr>
									</thead>

									<tbody ng-repeat="row in data" repeat-finish>
										<tr align="center">
											<td>{{($index+1) + (currentPage - 1) * itemsPerPage}}</td>
											<td>
							                    <i ng-click="showparams(row.id)" ng-class="showId == row.id ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'" ng-show="row.types != null && row.types.length >0"></i>
							                    {{row.name}}
							                </td>
											<td class="ace-thumbnails clearfix"><a href="{{row.thum}}" data-rel="colorbox"><img class="img-thumbnail" ng-src="{{row.thum}}" /></a></td>
											<td>{{row.parentName}}</td>
											<td>{{row.note}}</td>
											<td>{{row.sort}}</td>
											<td>
							                    <div class="btn-group" role="group">
							                        <button class="btn btn-white btn-default btn-bold" ng-click="editGoodsCategory(row.id)"><i class="fa fa-edit"></i> <span ng-bind-html="'common-edit' | T"></span></button>
							                        <button class="btn btn-white btn-danger btn-bold" ng-click="deleteGoodsCategory(row.id)"  style="margin-left:4px;"><i class="fa fa-trash"></i> <span ng-bind-html="'common-delete' | T"></span></button>
							                    </div>
											</td>
										</tr>
										
										<tr ng-show="showId == row.id">
							                <td colspan="7">
							                    <table class="table table-striped table-bordered table-hover">
							                        <tbody ng-repeat="childRow in row.types" repeat-finish="">
							                        <tr align="center">
									                <td style="width: 60.5px;">|=</td>
													<td style="width: 134px;">
														<i ng-click="showThirdParams(childRow.id)" ng-class="showThirdId == childRow.id ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'" ng-show="childRow.types != null && childRow.types.length >0"></i>
									                   	{{childRow.name}}
									                </td>
													<td style="width: 150px;" class="ace-thumbnails clearfix"><a href="{{childRow.thum}}" data-rel="colorbox"><img class="img-thumbnail" ng-src="{{childRow.thum}}" /></a></td>
													<td style="width: 150px;">{{row.name}}</td>
													<td style="width: 150px;" ng-show="childRow.note != ''">{{childRow.note}}</td>
													<td style="width: 150px;" ng-show="childRow.note == ''"><span ng-bind-html="'goods-category-list-20' | T"></span></td>
													<td style="width: 150px;" >{{childRow.sort}}</td>
													<td style="width: 145px;" >
									                    <div class="btn-group" role="group">
									                        <button class="btn btn-white btn-default btn-bold" ng-click="editGoodsCategory(childRow.id)" style="margin-left: 8px;"><i class="fa fa-edit"></i> <span ng-bind-html="'common-edit' | T"></span></button>
									                        <button class="btn btn-white btn-danger btn-bold" ng-click="deleteGoodsCategory(childRow.id)"  style="margin-left:4px;"><i class="fa fa-trash"></i> <span ng-bind-html="'common-delete' | T"></span></button>
									                    </div>
													</td>
							                        </tr>
							                        
							                        
							                        <tr ng-show="showThirdId == childRow.id">
										                <td colspan="7">
										                    <table class="table table-striped table-bordered table-hover">
										                        <tbody ng-repeat="thirdRow in childRow.types" repeat-finish="">
										                        <tr align="center">
												                <td style="width: 70px;">||==</td>
																<td style="width: 116px;">
																	<i ng-click="showFourParams(thirdRow.id)" ng-class="showFourId == thirdRow.id ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o'" ng-show="thirdRow.types != null && thirdRow.types.length >0"></i>
												                   	{{thirdRow.name}}
												                </td>
																<td style="width: 150px;" class="ace-thumbnails clearfix"><a href="{{thirdRow.thum}}" data-rel="colorbox"><img class="img-thumbnail" ng-src="{{thirdRow.thum}}" /></a></td>
																<td style="width: 150px;">{{childRow.name}}</td>
																<td style="width: 140px;" ng-show="thirdRow.note != ''">{{thirdRow.note}}</td>
																<td style="width: 150px;" ng-show="thirdRow.note == ''"><span ng-bind-html="'goods-category-list-20' | T"></span></td>
																<td style="width: 150px;" >{{thirdRow.sort}}</td>
																<td style="width: 138px;" >
												                    <div class="btn-group" role="group">
												                        <button class="btn btn-white btn-default btn-bold" ng-click="editGoodsCategory(thirdRow.id)" style="margin-left: 8px;"><i class="fa fa-edit"></i> <span ng-bind-html="'common-edit' | T"></span></button>
												                        <button class="btn btn-white btn-danger btn-bold" ng-click="deleteGoodsCategory(thirdRow.id)"  style="margin-left:4px;"><i class="fa fa-trash"></i> <span ng-bind-html="'common-delete' | T"></span></button>
												                        
												                    </div>
																</td>
										                        </tr>
										                        
										                        <tr ng-show="showFourId == thirdRow.id">
													                <td colspan="7">
													                    <table class="table table-striped table-bordered table-hover">
													                        <tbody>
													                        <tr align="center" ng-repeat="fourRow in thirdRow.types" repeat-finish="">
															                <td style="width: 80px;">|||===</td>
																			<td style="width: 101px;">
															                   	{{fourRow.name}}
															                </td>
																			<td style="width: 150px;" class="ace-thumbnails clearfix"><a href="{{fourRow.thum}}" data-rel="colorbox"><img class="img-thumbnail" ng-src="{{fourRow.thum}}" /></a></td>
																			<td style="width: 150px;">{{thirdRow.name}}</td>
																			<td style="width: 140px;" ng-show="thirdRow.note != ''">{{fourRow.note}}</td>
																			<td style="width: 150px;" ng-show="thirdRow.note == ''"><span ng-bind-html="'goods-category-list-20' | T"></span></td>
																			<td style="width: 150px;" >{{fourRow.sort}}</td>
																			<td style="width: 134px;" >
															                    <div class="btn-group" role="group">
															                        <button class="btn btn-white btn-default btn-bold" ng-click="editGoodsCategory(fourRow.id)" style="margin-left: 8px;"><i class="fa fa-edit"></i> <span ng-bind-html="'common-edit' | T"></span></button>
															                        <button class="btn btn-white btn-danger btn-bold" ng-click="deleteGoodsCategory(fourRow.id)"  style="margin-left:4px;"><i class="fa fa-trash"></i> <span ng-bind-html="'common-delete' | T"></span></button>
															                    </div>
																			</td>
													                        </tr>
													                        </tbody>
													                    </table>
													                </td>
													            </tr>
										                        </tbody>
										                    </table>
										                </td>
										            </tr>
							                        
							                        </tbody>
							                    </table>
							                </td>
							            </tr>
            
									</tbody>
								</table>

					            <div ng-show="totalItems > 0">
					            <h5 style="font-size:14px;float:left;">
					                <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
					                    <option>10</option>
					                    <option>20</option>
					                    <option>30</option>
					                </select>&nbsp;{{records}}&nbsp;&nbsp;{{total}}{{totalItems}}{{records}}
								</h5>
					            <uib-pagination
					                    total-items="totalItems"
					                    ng-model="currentPage"
					                    max-size="5"
										rotate="false"
					                    boundary-links="true"
					                    force-ellipses="false"
					                    first-text="{{first}}"
					                    last-text="{{last}}"
					                    previous-text="{{previous}}"
					                    next-text="{{next}}"
					                    num-pages="numPages"
					                    ng-change="pageChanged()"
					                    items-per-page="itemsPerPage"
					                    class="pagination-sm" style="float:right;margin:0">
					            </uib-pagination>
								</div>

							</div>
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->

<script type="text/javascript">

	jQuery(function($) {
    	
    	var $overflow = '';
		var colorbox_params = {
			rel: 'colorbox',
			reposition:true,
			scalePhotos:true,
			scrolling:false,
			previous:'<i class="ace-icon fa fa-arrow-left"></i>',
			next:'<i class="ace-icon fa fa-arrow-right"></i>',
			close:'&times;',
			current:'{current} of {total}',
			maxWidth:'100%',
			maxHeight:'100%',
			onOpen:function(){
				$overflow = document.body.style.overflow;
				document.body.style.overflow = 'hidden';
			},
			onClosed:function(){
				document.body.style.overflow = $overflow;
			},
			onComplete:function(){
				$.colorbox.resize();
			}
	};

	$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
	$("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon


	$(document).one('ajaxloadstart.page', function(e) {
		$('#colorbox, #cboxOverlay').remove();
   	});

	});

</script>